/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/09/2018, 09:37:11 AM
    Author     : Eduardo Salas Cerdas
*/

/**{
    -fx-text-fill:  #E0E0E0;
}*/

.label{
    -fx-text-fill: #212121;
}
.comboBox{
     -fx-text-fill: #212121;
}

.label-otros{
    -fx-text-fill: #E0E0E0;
}

.label-opciones{
    -fx-text-fill: #E0E0E0;
}

.label-opciones:hover{
    -fx-text-fill: #64B5F6;
}

.label-opciones:pressed{
    -fx-text-fill: #FF8A65;
}
.fondoBorder{
/*     -fx-background-image: url("../resources/Fondo-mar-reluciente.jpg");*/
}
.fondoLogin{
     -fx-background-image: url("../resources/images.jpg");
}
.fondo{

    -fx-background-color: #212121;

}
.fondoConTransparencia{
   -fx-background-radius: 10;
    -fx-background-color: #212121;
    -fx-opacity : 0.9;
}
.DrawConTransparencia{
   -fx-background-radius: 10;
    -fx-opacity : 0.9;
}
.fondoParaScroll{
       -fx-background-radius: 10;
    -fx-background-color: #1a237e;
    -fx-opacity : 0.8;
}
.jfx-hamburger{ /*Cambiar el fondo del hamburger*/
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
}

.jfx-hamburger StackPane{ /*Cambiar el color de las barras del hamburger*/
    -fx-background-color: #3F888F;
}

.jfx-anchor-pane-sala{
    -fx-border-color: #01579B;
}

.jfx-button{
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
    -fx-border-color: #455A64;
      -fx-text-fill:  #E0E0E0;
}

.jfx-button:hover{
    -fx-background-color: linear-gradient(#212121 0%, #37474F 100%);
}

.jfx-text-field,
.jfx-password-field,
.jfx-text-area{
    -fx-prompt-text-fill: #E0E0E0;
    -jfx-focus-color: #3F888F;
    -jfx-unfocus-color: #3F888F;
     -fx-text-fill:  #E0E0E0;
}

.line{
    -fx-stroke: #E0E0E0;
    -fx-fill: #E0E0E0;
}

/*Inicio Date picker*/
.jfx-date-picker,
.jfx-time-picker{
    -jfx-default-color: #3F888F;
    -jfx-focus-color: #3F888F;
    -jfx-unfocus-color: #3F888F;
}

.date,
.time{
    -fx-background-color: #212121;
}

.date-chooser,
.time-chooser{
    -fx-background-color: #212121;
}

.date-cell{
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell:hover { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell:pressed { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell-selected { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell-today { 
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
}

.date-cell-inactive { 
    -fx-text-fill: #E0E0E0;
}
/*Fin datePicker*/

.jfx-check-box{
    -jfx-checked-color: #3F888F;
    -jfx-unchecked-color: #3F888F;
    -fx-text-fill: #E0E0E0;
}

.jfx-radio-button{
    -jfx-selected-color: #3F888F;
    -jfx-unselected-color: #3F888F;
    -fx-text-fill: #E0E0E0;
}

/*Inicio Combo Box*/
.jfx-combo-box {
/*    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
*/    -jfx-focus-color: #3F888F;
    -jfx-unfocus-color: #3F888F;
    -fx-text-fill: #E0E0E0;
}
.jfx-combo-box:focus {
    -fx-border-color: #455A64;
     -fx-text-fill: #E0E0E0;
}
.jfx-combo-box .list-cell {
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
    -fx-focus-color: #3F888F;
    -fx-unfocus-color: #3F888F;
    -fx-padding: 4 0 3 10;
    -fx-opacity: 0.8;
     -fx-text-fill: #E0E0E0;
}
/*Fin Combo Box*/

/*Inicio Table View*/
.table-view{
   -fx-background-color: transparent;
   -fx-base: #212121;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#37474F 0%, #212121 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #E0E0E0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #212121;
}

.table-view .table-cell{
    -fx-text-fill: #E0E0E0;
    -fx-alignment: CENTER;
}

.table-row-cell{
    -fx-background-color: #37474F;
    -fx-table-cell-border-color: #212121;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: #37474F;
    -fx-table-cell-border-color: #212121;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #212121;
    -fx-text-fill: #E0E0E0;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: #E0E0E0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
/*reportes*/ 
.tap_reportes{
  -fx-text-fill:  #212121;
}
/*tapane*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}
/*Fin Table View*/